header {
	position: fixed;
	top: 0;
  left: 0;
	width: 100%;
	background: var(--light);
	padding: 1rem;
  box-shadow: 0 -1px 5px var(--darkgrey);
}

.header__wrapper {
  display: flex;
	justify-content: space-between;
	align-items: center;
  gap: 20px;
}

.header__logo {
  padding: 0;
  margin: 0;
}

.header__search {
  flex-basis: 70%;
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__search form {
  width: 100%;
}

.header__search-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  gap: 20px;
}

.header__search-btn {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.header__search-input {
  border: none;
  background: var(--lightgrey);
  padding: .5rem 1rem .5rem 3rem;
  border-radius: 50px;
  width: 100%;
}

.header__search-input:focus-visible {
  outline: 1px solid var(--darkgrey);
}

@media screen and (min-width: 481px) {
  .header__search {
    flex-basis: 50%;
  }
}