.filters {
	padding: 2rem 0 0;
	font-size: 14px;
	align-items: center;
	gap: 20px;
	display: none;
	flex-wrap: wrap;
}

.filter__item label {
  margin-right: 5px;
}

.filter__item select,
.filter__item input {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--lightgrey);
}

.filter__item input[type="number"] {
  padding-right: 0;
}

.filter__item select:focus,
.filter__item input:focus {
  outline: 2px solid var(--darkgrey);
}

.filters button {
	margin-left: 1rem;
	padding: 5px 10px;
	border-radius: 5px;
	color: var(--light);
	background-color: var(--darkgrey);
	justify-content: center;
}

.filters button:hover {
  background-color: var(--dark);
}

body.filters-on .filters {
  display: flex;
}

body.filters-on main {
  margin-top: 13rem;
}

@media screen and (min-width: 576px) {
  .filters {
    display: none;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .filters button {
    flex-grow: 0;
  }
  body.filters-on main {
    margin-top: 11rem;
  }
}
