@import "@fortawesome/fontawesome-free/css/all.css";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
  font-family: Montserrat, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --light: #fff;
  --lightgrey: #f1f1f1;
  --darkgrey: #AAA;
  --dark: #231f20;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--darkgrey);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Hace que el body y html ocupen toda la ventana */
  display: flex;
  flex-direction: column;
}

body {
  background-color: var(--lightgrey);
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
}

h1 {
  font-size: 2.3rem;
  line-height: 1.1;
}

button {
  border: none;
  background: none;
  color: var(--darkgrey);
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all .2s;
}

button:hover {
  color: var(--dark);
}

main {
  padding: 2rem;
  flex: 1;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 20px;
	width: 100%;
  max-width: 600px;
	margin: auto;
	text-align: center;
	border: 2px dotted;
	padding: 2rem;
	border-radius: 20px;
	margin-bottom: 2rem;
}

/* ICONOS */
.material-icons {
  top: 1px;
  line-height: 1;
}

button:hover .material-icons {
  color: var(--dark);
  transition: all .2s;
}
