.gallery {
  column-count: 4; /* Número de columnas */
  column-gap: 16px; /* Espacio entre columnas */
  width: 90%;
  margin: auto;
}

.gallery-item {
  background-color: #eee;
  border-radius: 8px;
  margin-bottom: 16px;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  display: block;
  border-radius: 8px;
}

.gallery-loading {
  text-align: center;
  padding-top: 2rem;
}

@media (max-width: 768px) {
  .gallery {
    column-count: 2;
  }
}

@media (max-width: 480px) {
  .gallery {
    column-count: 1;
  }
}
